.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
}

.loginContainer {
  background-color: #f4f4f4;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.input {
  width: calc(100% - 40px);
  padding: 12px 15px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #c00; /* Red accent color */
}

.inputWithIcon {
  position: relative;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #777;
}

.togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  fill: #777;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #555;
}

.rememberMe input {
  margin-right: 5px;
}

.forgotPassword {
  background: none;
  border: none;
  color: #c00;
  cursor: pointer;
  outline: none;
}

.loginButton {
  background-color: #c00;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #a00;
}

.error {
  color: #d32f2f;
  background-color: #ffebee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.disclaimer {
  color: #777;
  font-size: 0.8rem;
  margin-top: 30px;
}
